{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="../../resources/css/style.css">{% endblock %}
{% block title %}<title>Home</title>{% endblock %}
{% block body %}
<div class="container" id="container">
    <div class="box text-center">
        <h1>You have been banned. <hr> Remaining time: {{ data.timer }}</h1>
    </div>
</div>
{% endblock %}

