#container {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.box {
    padding: 37px;
    width: max-content;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 15px;
    color: black;
}


.star {
    color: red;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.errorMsg {
    color: #910707;
}